html {
    box-sizing: border-box;
    font-size: 2em;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: rgb(165, 202, 245)  
    url('../img/christmas1_5.mp4'); 
    font-family: 'Mountains of Christmas', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Mountains of Christmas', cursive;
}

h1 {
    font-weight: 600;
}

img {
    border-radius: 10px;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: #ffffff url('../img/background-christmas-tree.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    align: center;
    width: 60%;
    height: 100%;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    border-color: white;
    border-width: 10px;
    opacity: 0;
    height: 125px;
    width: 125px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deck .card.open {
    transform: rotateY(0);
    cursor: default;
}

.deck .card.show {
    opacity: 1;
}

.deck .card.match {
    cursor: default;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: center;
    width: 30%;
    margin-bottom: 10px;
}

.score-panel .restart {
    cursor: pointer;
}

/*
    Styles for winner/game complete banner
*/

.winner-flag {
    position: absolute;
    height: 100%;
}

.winner-banner {
    position: relative;
    z-index: 99;
    top: 50%;
    left: 50%;
    height: 250px;
    width: 400px;
    background: #E8E288;
    transform: translate(-50%, -70%);
}

.specs {
    text-align: center;
    height: 50%;
}

.close-banner {
    float: right;
}

.close {
    display: none;
}
